.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(31, 153, 240);
}

.centered-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: whitesmoke;
}

.inner-div {
  margin-top: 20px;
  border: 1px solid #2ba6db;
  padding: 10px;
  border-radius: 5px;
  background: #99cbe1;
}

.container-flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container-flex > *:not(:last-child) {
  margin-right: 10px;
}

.container-flex input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.container-flex select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}

.container-flex button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
